.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item{
    padding: 20px 30px;
}

.container{
    margin-bottom: 50px;
}

.carousel-bg{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100px 100px;
    background-position-x: left;
}
.carousel-inner{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:80px;
}
h6{
    color: orange;
    
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
   
}
.card img{
    width: 80%;
}
.card-footer{
    border: none;
    background-color: white;
    
}
.categories h2{
 
  
        text-decoration: underline ;
    padding-top: 20px;
  
}
.row{
   
    padding: 20px;
    
   

}
.row img{
    width: 80%;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 20px;

}
.bag,.beauty,.order{
    padding: 10px;
   
}